fail-on-severity: high

allow-licenses:
  - MIT
  - Apache-2.0
  - BSD-2-Clause
  - BSD-3-Clause
  - ISC
  - MPL-2.0
  - 0BSD
  - CC0-1.0
  - Unlicense
  # Google patent license used by all golang.org/x packages (as compound expression)
  - LicenseRef-scancode-google-patent-license-golang
  - "BSD-3-Clause AND LicenseRef-scancode-google-patent-license-golang"
