name: Auto Rebase PRs

on:
  push:
    branches: [main]

jobs:
  rebase:
    runs-on: ubuntu-latest
    steps:
      - name: Rebase open PRs
        uses: peter-evans/rebase@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
